# Build directories
build/
out/
cmake-build-*/

# CMake
CMakeFiles/
CMakeCache.txt
Testing/
CTestTestfile.cmake
_deps/
compile_commands.json

# Objects and binaries
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.com

# IDE/editor
.vscode/
.idea/
*.code-workspace
*.swp
*.swo

# Python
__pycache__/
*.pyc

